.skillsHeader {
    display: flex;
    justify-content: center;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 34rem;
    line-height: 118%;
    letter-spacing: 0.01em;
    color: var(--blanco);

    margin-bottom: 60rem;
}


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24rem;

    margin-bottom: 128rem;

    @include mobile {
        grid-template-columns: 1fr;
    }

    &__block {
        background: var(--rellenos);
        border-radius: 8rem;
        padding: 24rem;
    }


    &__main {
        margin-top: 10rem;
        margin-bottom: 10rem;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 34rem;
        line-height: 118%;
        letter-spacing: 0.01em;
        color: var(--blanco);
    }
    &__desc {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16rem;
        line-height: 175%;
        letter-spacing: 0.03em;
        color: var(--blanco);

        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}
