* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --gris: #a0a0a1;
  --fondo: #171718;
  --rellenos: #1c1e22;
  --bordes: #26292d;
  --acento: #85bfd1;
  --blanco: #fff;
  --primario: #5c62ec;
  --hover: #3c40ae;
  --font-family: "DM Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Ubuntu", sans-serif;
  --font3: "Gotham", sans-serif;
}

html {
  font-size: 1px;
}
@media screen and (max-width: 592px) {
  html {
    font-size: 0.8px;
  }
}
@media screen and (max-width: 392px) {
  html {
    font-size: 0.6px;
  }
}

body {
  font-size: 16rem;
  background: var(--fondo);
  color: var(--blanco);
  font-family: var(--font-family);
}

.main {
  padding: 0 29rem;
  max-width: 1156px;
  margin-inline: auto;
}

.hero {
  margin-top: 64rem;
  margin-bottom: 128rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140rem;
}
@media screen and (max-width: 1200px) {
  .hero {
    gap: 20px;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__img {
  border-radius: 8rem;
  max-width: 448px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.hero__img img {
  border-radius: inherit;
}
.hero__title {
  margin-bottom: 24rem;
  font-weight: 700;
  font-size: 60px;
  line-height: 118%;
  letter-spacing: -0.01em;
  color: var(--blanco);
}
.hero__desc, .hero__email {
  font-family: var(--font-family);
  font-size: 16rem;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: var(--blanco);
}
.hero__desc span, .hero__email span {
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.01em;
}
.hero__email {
  display: block;
  color: var(--primario);
}

.skillsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 34rem;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: var(--blanco);
  margin-bottom: 60rem;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24rem;
  margin-bottom: 128rem;
}
@media screen and (max-width: 592px) {
  .skills {
    grid-template-columns: 1fr;
  }
}
.skills__block {
  background: var(--rellenos);
  border-radius: 8rem;
  padding: 24rem;
}
.skills__main {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 34rem;
  line-height: 118%;
  letter-spacing: 0.01em;
  color: var(--blanco);
}
.skills__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 175%;
  letter-spacing: 0.03em;
  color: var(--blanco);
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 129rem;
  border-bottom: 1px solid var(--bordes);
  border-top: 1px solid var(--bordes);
  margin-left: -20rem;
  margin-right: -20rem;
  padding-top: 32rem;
  padding-bottom: 64rem;
}
@media screen and (max-width: 592px) {
  .footer {
    gap: 20rem;
  }
}
.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24rem;
}
.footer__name {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24rem;
  line-height: 133%;
  color: var(--blanco);
}
@media screen and (max-width: 592px) {
  .footer__name {
    font-weight: 500;
    font-size: 20rem;
  }
}
.footer__link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14rem;
  line-height: 143%;
  letter-spacing: 0.02em;
  color: var(--blanco);
}
.footer__link a {
  color: var(--blanco);
}
@media screen and (max-width: 592px) {
  .footer__link {
    font-weight: 300;
    font-size: 22rem;
  }
}
.footer__topLinks {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16rem;
  line-height: 125%;
  letter-spacing: 0.01em;
  color: var(--acento);
}
@media screen and (max-width: 592px) {
  .footer__topLinks {
    font-weight: 300;
    font-size: 12rem;
  }
}
.footer__topLinks a {
  color: var(--acento);
}
@media screen and (max-width: 592px) {
  .footer__socials {
    max-width: 40rem;
  }
}

.lastFooter {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.03em;
  color: var(--blanco);
  padding-top: 16rem;
  padding-bottom: 50rem;
  margin-left: -20rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24rem;
}
@media screen and (max-width: 592px) {
  .header {
    display: block;
  }
}
.header__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--blanco);
}
@media screen and (max-width: 592px) {
  .header__name {
    font-weight: 500;
    font-size: 20rem;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__navLink {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16rem;
  line-height: 100%;
  color: var(--blanco);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.header__navLink:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__navLink:hover::before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8rem;
  height: 3rem;
  -webkit-transition: 0.2 all ease-in-out;
  transition: 0.2 all ease-in-out;
  background: var(--primario);
}
@media screen and (max-width: 592px) {
  .header__navLink {
    margin-inline: auto;
    font-weight: 500;
    font-size: 18rem;
    margin-top: 20rem;
  }
}
.header__actualLink {
  position: relative;
}
.header__actualLink::before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8rem;
  height: 3rem;
  -webkit-transition: 0.2 all ease-in-out;
  transition: 0.2 all ease-in-out;
  background: var(--primario);
}
